.flex {
  display: inline-block;
}
.box {
  width: 40px;
  height: 30px;
  background: darkgoldenrod;
  cursor: pointer;
  transition: 0.8s;
  margin: 0 18px 8px 0;
  text-align: center;
  line-height:35px;
}
.man {
  display: table-cell;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  background: skyblue;
  border-radius: 50%;
  transform: rotate(360deg) scale(1.2);
  line-height:31px;
  margin: 0 18px 14px 0;
}
.woman {
  display: table-cell;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  background: pink;
  border-radius: 50%;
  transform: rotate(360deg) scale(1.2);
  line-height:31px;
  margin: 0 18px 14px 0;
}
.dummy {
  background: white;
}
.btn-square-shadow-man {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square-shadow-man:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.btn-square-shadow-woman {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #FF99FF;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #FF66CC;
  border-radius: 3px;
}
.btn-square-shadow-woman:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
